.hero {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoint-up(large) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__logo {
        opacity: 0.85;
        position: relative;
        width: 54.6875rem;
        max-width: 100vw;
        height: auto;
        margin: 0 auto;
    }
    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        min-height: 100vh;
        max-height: 100vh;
        width: 100vw;
    }
    .no-webp &__image {
        background-image: url("../../images/barbell-640x426.jpg");
    }
    .webp &__image {
        background-image: url("../../images/barbell-640x426.webp");
    }
    .no-js &__image {
        background-image: url("../../images/barbell-640x426.jpg");
    }
    @include breakpoint-up(large) {
        .no-webp &__image {
            background-image: url("../../images/barbell-1920x1280.jpg");
        }
        .webp &__image {
            background-image: url("../../images/barbell-1920x1280.webp");
        }
    }
    &__text {
        text-align: center;
        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
    &__cta {
        font-size: calc(0.6vw + 18px);
        padding: 1.75rem calc(10vw + 2.5rem);
        box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, -8px -8px 12px 0 rgb(0 0 0 / 25%) inset;
    }
}
